html {
  scroll-behavior: smooth;
  overflow-anchor: none;
}

body {
  direction: ltr;
  opacity: 1;
  overflow-anchor: none;
  --padding-factor: 575px;
}
@media (min-width: 576px) {
  body {
    --padding-factor: 540px;
  }
}
@media (min-width: 768px) {
  body {
    --padding-factor: 720px;
  }
}
@media (min-width: 992px) {
  body {
    --padding-factor: 960px;
  }
}
@media (min-width: 1200px) {
  body {
    --padding-factor: 1140px;
  }
}
@media (min-width: 1400px) {
  body {
    --padding-factor: 1320px;
  }
}

input, select, button {
  -webkit-appearance: none;
}

.ratio {
  overflow: hidden;
}
.ratio > img {
  position: absolute;
  top: 50%;
  left: 50%;
  right: unset;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.animation-underline {
  --line-height: 1px;
  --bottom-space: 0;
  --line-color: #5067FD;
  position: relative;
}
.animation-underline:after {
  width: 0;
  height: var(--line-height);
  opacity: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: var(--bottom-space);
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  will-change: width, opacity, background-color;
  background-color: var(--line-color);
}
.animation-underline:hover:after, .animation-underline:focus:after {
  width: 100%;
  opacity: 1;
}
.animation-underline.active:after {
  width: 50%;
  opacity: 1;
}
.animation-underline.active:hover:after, .animation-underline.active:focus:after {
  width: 100%;
}
.animation-underline.animation-reverse:after {
  width: 100%;
  opacity: 1;
}
.animation-underline.animation-reverse:hover:after, .animation-underline.animation-reverse:focus:after, .animation-underline.animation-reverse:active:after {
  width: 0%;
}

a:hover .animation-underline:after, a:focus .animation-underline:after {
  width: 100%;
  opacity: 1;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease, top 0.3s ease;
}
.arrow:after {
  content: "";
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #0C3151;
  border-right: 0.125rem solid #0C3151;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  pointer-events: none;
  transition: border-color 0.3s ease, margin 0.3s ease;
}

#stages {
  counter-reset: stage-counter;
  border-bottom: 1px solid #eeeceb;
  overflow-x: auto;
  text-align: center;
  scrollbar-width: thin;
  scrollbar-color: #0C3151;
}
#stages::-webkit-scrollbar {
  height: 4px;
}
#stages::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #0C3151;
}
#stages::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: "transparent";
}
#stages ul {
  list-style: none;
  padding: 1.25rem 0;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 3.125rem;
  margin: 0 3.125rem;
}
#stages ul li {
  counter-increment: stage-counter;
}
#stages ul a {
  text-decoration: none;
  color: #03294b;
  font-weight: 300;
  transition: color 0.3s ease;
  white-space: nowrap;
}
#stages ul a:before {
  content: counter(stage-counter);
  display: inline-block;
  border-radius: 100%;
  border: 1px solid;
  width: 1.625rem;
  height: 1.625rem;
  font-size: 0.9375rem;
  margin-inline-end: 0.5rem;
  line-height: 1.5rem;
  text-align: center;
  vertical-align: middle;
}
#stages ul a:hover, #stages ul a:focus, #stages ul a.active {
  color: #5067FD;
}
#stages ul a.active:before {
  background-color: #5067FD;
  color: #ffffff;
  border-color: #5067FD;
}

main {
  padding: 1.875rem 0;
}
main .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 992px) {
  main .heading {
    align-items: center;
  }
}
main .heading h1 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.375rem;
  margin-bottom: 1.3125rem;
}
@media (min-width: 992px) {
  main .heading h1 {
    line-height: 2.75rem;
  }
}
main .heading p.lead {
  font-size: 1.375rem;
}

/* MAIN PAGE - STAGE 1 */
#packages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
@media (min-width: 992px) {
  #packages {
    grid-gap: 2rem;
  }
}
@media (min-width: 1200px) {
  #packages {
    grid-template-columns: repeat(3, 1fr);
  }
}
#packages article {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.09);
}
@media (min-width: 992px) {
  #packages article {
    border-radius: 10px;
  }
}
#packages article:hover a.ratio img, #packages article:focus-within a.ratio img {
  min-width: 105%;
  min-height: 105%;
}
@media (min-width: 992px) {
  #packages article:hover .info h2 a:after, #packages article:focus-within .info h2 a:after {
    width: 100%;
    opacity: 1;
  }
}
#packages article a.ratio {
  display: block;
  --bs-aspect-ratio: calc(145 / 156 * 100%);
}
@media (min-width: 768px) {
  #packages article a.ratio {
    --bs-aspect-ratio: calc(240 / 386 * 100%);
  }
}
@media (min-width: 992px) {
  #packages article a.ratio {
    --bs-aspect-ratio: calc(280 / 386 * 100%);
  }
  #packages article a.ratio:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
}
#packages article a.ratio img {
  transition: min-width 0.3s ease, min-height 0.3s ease;
  will-change: min-width, min-height;
}
#packages article .info {
  padding: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
@media (min-width: 992px) {
  #packages article .info {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 1rem;
    max-width: 90%;
    padding: 1.5625rem;
  }
}
#packages article .info .remark {
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  #packages article .info .remark {
    font-size: 0.875rem;
  }
}
#packages article .info h2 {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
@media (min-width: 992px) {
  #packages article .info h2 {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1.875rem;
  }
}
#packages article .info h2 a {
  color: inherit;
  text-decoration: none;
  --line-color: #ffffff;
}
@media (max-width: 991px) {
  #packages article .info h2 a {
    --line-color: #5067FD;
  }
  #packages article .info h2 a:hover, #packages article .info h2 a:focus {
    color: #5067FD;
    outline: none;
  }
}

#date-select {
  display: inline-block;
  position: relative;
  align-self: center;
}
@media (min-width: 992px) {
  #date-select {
    margin-top: 1rem;
  }
}
#date-select label {
  position: absolute;
  left: 0.625rem;
  line-height: 1.625rem;
  pointer-events: none;
}
#date-select label img {
  width: 1.0625rem;
  height: 1.0625rem;
  margin-right: 0.5rem;
}
#date-select input {
  -webkit-appearance: none;
  border: 1px solid #0C3151;
  border-radius: 0.8125rem;
  padding-left: calc(17px + 8px);
  padding-right: 2.25rem;
  outline: none;
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  height: 1.625rem;
  line-height: 1.625rem;
  transition: color 0.3s ease;
  cursor: pointer;
}
#date-select input:focus, #date-select input:hover {
  color: #5067FD;
}
#date-select input:focus + .arrow:after, #date-select input:hover + .arrow:after {
  border-color: #5067FD;
}
#date-select input + .arrow {
  pointer-events: none;
  position: absolute;
  right: 0.9375rem;
  top: -1px;
}
#date-select input:focus + .arrow {
  top: 3px;
  transform: rotate(180deg);
}

#available-dates {
  list-style: none;
  margin: 4.125rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 4.0625rem;
}
@media (min-width: 992px) {
  #available-dates {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3.125rem;
    grid-column-gap: 2rem;
  }
}
#available-dates li {
  position: relative;
}
#available-dates li button {
  width: 100%;
  border: 0;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  will-change: background-color, box-shadow;
  color: #0C3151;
}
#available-dates li button[disabled] time {
  opacity: 0.5;
}
@media (min-width: 992px) {
  #available-dates li button {
    padding: 1.375rem;
    padding-bottom: 1.125rem;
  }
}
#available-dates li button:not([disabled]):hover, #available-dates li button:not([disabled]):focus, #available-dates li button:not([disabled]).active {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}
#available-dates li button:not([disabled]):hover .hour, #available-dates li button:not([disabled]):focus .hour, #available-dates li button:not([disabled]).active .hour {
  color: #5067FD;
}
#available-dates li button time {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5rem;
}
#available-dates li button time .hour {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
  transition: color 0.3s ease;
}
#available-dates li .date-remark {
  position: absolute;
  bottom: -1.7rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
}
#available-dates li .date-remark + button {
  border-bottom: 1px solid #0C3151;
  border-radius: 5px 5px 0 0;
}

#load-more {
  width: 100%;
  border-bottom: 1px solid #0C3151;
  position: absolute;
  right: 0;
}
#load-more button {
  border-radius: 0.96875rem;
  background-color: #0C3151;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  padding-right: 2.1875rem;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#load-more button:hover, #load-more button:focus {
  background-color: #5067FD;
}
#load-more button .arrow {
  position: absolute;
  top: 0.125rem;
  right: 1rem;
}
#load-more button .arrow:after {
  width: 0.5rem;
  height: 0.5rem;
  border-color: #ffffff;
}

#nav-buttons {
  padding-top: 4.25rem;
  display: flex;
  justify-content: center;
}
#nav-buttons a, #nav-buttons button {
  font-size: 1rem;
  border-width: 0.125rem;
  padding: 0.5rem 1.5625rem;
  min-width: 7.8125rem;
}
#nav-buttons a + a, #nav-buttons a + button, #nav-buttons button + a, #nav-buttons button + button {
  margin-left: 2.1875rem;
}
#nav-buttons .arrow {
  position: relative;
  transition: none;
}
#nav-buttons .arrow:after {
  border-color: inherit;
}
#nav-buttons .arrow:before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  height: 1rem;
  width: 0px;
  border-left: 0.125rem solid;
}
#nav-buttons .arrow.arrow-start {
  transform: rotate(calc(1 * 90deg));
  margin-right: 1rem;
}
#nav-buttons .arrow.arrow-end {
  transform: rotate(calc(1 * -1 * 90deg));
  margin-left: 1rem;
}
@media (min-width: 992px) {
  #nav-buttons {
    justify-content: flex-end;
  }
}

.tooltip-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: sub;
  margin-left: 0.3rem;
}
.tooltip-icon img {
  width: 100%;
  height: 100%;
  display: block;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.tooltip-icon:hover img, .tooltip-icon:focus img, .tooltip-icon[aria-describedby*=tooltip] img {
  transform: rotate(0);
}

label.select {
  position: relative;
}
label.select select {
  background: transparent;
  border: 0;
  width: 100%;
  padding-right: 2rem;
}
label.select select + .arrow {
  position: absolute;
  pointer-events: none;
  right: 0;
  top: -3px;
}
label.select select + .arrow:after {
  width: 0.5rem;
  height: 0.5rem;
}

.table {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.09);
  border-radius: 0.9375rem;
  position: relative;
}
.table.tfoot {
  margin-bottom: 4rem;
}
.table + .table {
  margin-top: 2.8125rem;
}
.table td {
  font-size: 1rem;
  border: none;
  padding: 0.625rem;
}
.table td:not(:first-child) {
  width: 20%;
}
@media (min-width: 768px) {
  .table td {
    font-size: 1.125rem;
    padding: 0.75rem 1.6875rem;
  }
}
@media (min-width: 1400px) {
  .table td:first-child {
    padding-left: 6.25rem;
  }
  .table td:last-child {
    padding-right: 6.25rem;
  }
}
.table th {
  font-size: 1.125rem;
  font-weight: 400;
  border: none;
  padding: 1.9375rem 0.625rem 0.75rem;
}
@media (min-width: 768px) {
  .table th {
    font-size: 1.375rem;
    padding: 1.6875rem 1.6875rem 0.75rem;
  }
}
@media (min-width: 1400px) {
  .table th:first-child {
    padding-left: 6.25rem;
  }
  .table th:last-child {
    padding-right: 6.25rem;
  }
}
.table tfoot {
  position: absolute;
  right: 0;
  bottom: -4.5rem;
  width: 100%;
}
.table tfoot tr {
  display: flex;
}
.table tfoot td {
  font-weight: 600;
  font-size: 1.125rem;
  background-color: transparent;
  position: relative;
}
.table tfoot td:first-child {
  flex-grow: 1;
}
@media (min-width: 768px) {
  .table tfoot td {
    font-size: 1.375rem;
  }
}
.table tfoot td span {
  display: inline-block;
  position: absolute;
  right: 100%;
}

#package-remark {
  font-size: 0.875rem;
  opacity: 0.8;
  display: inline-block;
  padding-left: 0.625rem;
}
@media (min-width: 768px) {
  #package-remark {
    padding-left: 1.6875rem;
  }
}
@media (min-width: 1400px) {
  #package-remark {
    padding-left: 6.25rem;
  }
}
#package-remark + .table {
  margin-top: 2.8125rem;
}

#order-summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
}
@media (min-width: 768px) {
  #order-summary {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  #order-summary {
    grid-template-columns: repeat(5, 1fr);
  }
}
#order-summary > div {
  padding: 1.9375rem 0.625rem 0.75rem;
}
@media (min-width: 768px) {
  #order-summary > div {
    padding: 1.6875rem 1.6875rem 0.75rem;
  }
}
@media (min-width: 1400px) {
  #order-summary > div:first-child {
    padding-left: 6.25rem;
  }
}
#order-summary h2 {
  font-size: 1.125rem;
  font-weight: 400;
  border: none;
  padding-bottom: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  #order-summary h2 {
    font-size: 1.375rem;
  }
}
@media (min-width: 992px) {
  #order-summary h2 {
    margin-right: 0;
    display: block;
  }
}
#order-summary .discount-select {
  grid-column: 1/span 2;
  display: grid;
}
@media (min-width: 992px) {
  #order-summary .discount-select {
    grid-column: 1/span 3;
    grid-template-columns: repeat(6, 1fr);
  }
  #order-summary .discount-select h2 {
    grid-column: 1/span 6;
  }
  #order-summary .discount-select .select-type {
    grid-column: 1/span 2;
  }
  #order-summary .discount-select .form-floating {
    margin-top: -1.3rem;
    grid-column: 3/span 3;
  }
}
#order-summary .total-price, #order-summary .total-price h2 {
  font-weight: 600;
}
#order-summary .total-price bdo {
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  #order-summary .total-price bdo {
    font-size: 1.375rem;
  }
}

#info-form > .form-floating, #info-form .phone-wrapper {
  margin-bottom: 1.875rem;
}
@media (min-width: 1200px) {
  #info-form > .form-floating, #info-form .phone-wrapper {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 768px) {
  #info-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.125rem;
  }
}
@media (min-width: 1200px) {
  #info-form {
    grid-column-gap: 6.25rem;
    max-width: 80%;
  }
}
#info-form .form-check {
  grid-column: 1/span 2;
  margin-bottom: 1.25rem;
}
#info-form #nav-buttons {
  grid-column: 1/span 2;
}
#info-form .phone-wrapper {
  display: flex;
  align-items: flex-end;
}
#info-form .phone-wrapper label.select {
  padding: 0.5rem 0;
  border-bottom: 1px solid #b2b2b2;
  display: flex;
  font-size: 1.125rem;
}
#info-form .phone-wrapper label.select select {
  border-right: 1px solid #b2b2b2;
  opacity: 0.65;
  color: #03294b;
}
#info-form .phone-wrapper label.select .arrow {
  opacity: 0.65;
  right: 1rem;
  top: 4px;
}
#info-form .phone-wrapper .form-floating {
  flex-grow: 1;
}
#info-form .phone-wrapper .form-floating .form-control, #info-form .phone-wrapper .form-floating label {
  padding-left: 0.8rem;
}

.form-floating > label {
  padding: 0.5rem 0;
  top: 0.75rem;
  font-size: 1.125rem;
  color: #b2b2b2;
  transition: font-size 0.1s ease-in-out, top 0.1s ease-in-out;
}
.form-floating > .form-control:focus ~ label, .form-floating .form-control:not(:placeholder-shown) ~ label, .form-floating .form-select ~ label {
  top: 0;
  opacity: 1;
  font-size: 0.8125rem;
  transform: none;
}
.form-floating > .form-control {
  border: none;
  border-bottom: 1px solid #b2b2b2;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0.5rem 0;
  background-color: transparent;
}
.form-floating > .form-control:hover, .form-floating > .form-control:focus {
  outline: none;
  box-shadow: none;
}
.form-floating > .form-control:focus {
  border-color: #5067FD;
}
.form-floating > .form-control:not(:placeholder-shown):not(:focus) {
  border-color: #0C3151;
}
.form-floating > .form-control[required] ~ label:before {
  content: "*";
  display: inline-block;
  margin-right: 0.4rem;
}

.datepicker-picker {
  padding: 1.5rem;
}
.datepicker-picker span {
  border-radius: 6.25rem;
  font-weight: 500;
}
.datepicker-picker span.disabled {
  font-weight: 300;
  color: #b2b2b2;
}
.datepicker-picker span.prev, .datepicker-picker span.next {
  pointer-events: none;
  visibility: hidden;
}
.datepicker-picker span.today:not(.selected):not(.disabled) {
  border: 1px solid #5067FD;
  background-color: transparent;
  color: #5067FD;
}
.datepicker-picker .datepicker-header .datepicker-controls .btn {
  font-weight: 500;
}
.datepicker-picker .datepicker-header .datepicker-controls .btn.prev-btn:after, .datepicker-picker .datepicker-header .datepicker-controls .btn.next-btn:after {
  content: "";
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #0C3151;
  border-right: 0.125rem solid #0C3151;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  pointer-events: none;
  transition: border-color 0.3s ease, margin 0.3s ease;
}
.datepicker-picker .datepicker-header .datepicker-controls .btn.prev-btn {
  transform: rotate(calc(1 * 90deg));
}
.datepicker-picker .datepicker-header .datepicker-controls .btn.next-btn {
  transform: rotate(calc(1 * -1 * 90deg));
}
.datepicker-picker .datepicker-view .dow {
  font-weight: 400;
  height: 2rem;
}
.datepicker-picker .datepicker-view .datepicker-cell.selected {
  background-color: transparent;
  color: #5067FD;
}

table#summary, table#summary ~ #package-remark, table#summary ~ #nav-buttons {
  max-width: 50rem;
  margin: auto;
}
table#summary ~ #package-remark {
  margin-top: 1.5625rem;
  display: block;
}
table#summary td {
  font-size: 1.125rem;
  width: 50%;
}
@media (min-width: 768px) {
  table#summary td {
    font-size: 1.375rem;
  }
}
table#summary td[scope=row] {
  font-size: 1rem;
}
@media (min-width: 768px) {
  table#summary td[scope=row] {
    font-size: 1.125rem;
  }
}
table#summary tr.heading {
  display: table-row;
  --bs-table-accent-bg: #ffffff;
}
table#summary tr.heading td {
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
}

/*# sourceMappingURL=style.css.map */
