@mixin responsive {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@mixin responsive-video {
  min-width:100%;
  min-height:100%;
  object-fit: cover;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin overlay($color:rgba(0, 0, 0, 0.3)) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: $color;
  height: 100%;
  width: 100%;
  pointer-events: none;
}


/// Mixin to customize scrollbars
@mixin scrollbars($size, $forgroundColor, $backgroundColor : #fefefe, $borderRadius: 2px, $oriant : 'vertical') {
  // firefox
  @if $size < 8px {
    scrollbar-width: thin;
  }
  scrollbar-color: $forgroundColor;

  // chrome
  &::-webkit-scrollbar {
    @if $oriant == 'horizontal' {
      height: $size;
    } @else {
      width: $size;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $borderRadius;
    background: $forgroundColor;
  }

  &::-webkit-scrollbar-track {
    border-radius: $borderRadius;
    background-color: $backgroundColor;
  }

}


@mixin spacerBox($h, $w:0) {
  position:relative;
  height: 0;
  width:0;
  @include ratioBoxPadding($h,$w);
}

@mixin ratioBox($h, $w:0) {
  position:relative;
  overflow: hidden;
  height: 0;
  width:100%;
  @include ratioBoxPadding($h,$w);
}

@mixin ratioBoxPadding($h, $w:0) {
  @if $w > 0 {
    padding-top: round($h / $w * 100%);
  } @else {
    padding-top: $h+"%";
  }
}

@mixin ratioBoxInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin ratioBoxImage {
  position: absolute;
  top: 50%;
  left: 50%;
  right:unset;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%,-50%);
}


@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@function transform-dir($v) {
  @return calc(#{$v} * #{$transform_direction});
}

// return the url with the full website path and wrapped in url() statement
@function base-url($src) {
  @if (str-index($base, "/") != 0) {
    $base: $base + "/";
  }
  @return unquote("url("+ $base + $src + ")");
}

// use to return the max width of a bootstrap breakpoint.
@function get-container($key) {
  @if map-has-key($container-max-widths, $key) {
    @return map-get($container-max-widths, $key);
  }

  @return null;
}

@function get-minwidth($key) {
  @if map-has-key($grid-breakpoints, $key) {
    @return map-get($grid-breakpoints, $key);
  }

  @return null;
}

@function get-maxwidth($key) {
  @if map-has-key($grid-breakpoints, $key) {
    @return map-get($grid-breakpoints, $key) - 1;
  }

  @return null;
}

@mixin fontface($font,$name,$weight,$style) {
  @font-face{
    font-family:'#{$name}';
    font-weight:$weight;
    font-style: $style;
    font-display: fallback;
    src: base-url('#{$font}.eot');
    src: base-url('#{$font}.eot#iefix') format('embedded-opentype'),
    base-url('#{$font}.woff') format('woff'),
    base-url('#{$font}.ttf') format('truetype');
  }
}

@mixin fontface_woff( $font,$name,$weight,$style ) {
  @font-face {
    font-display: fallback;
    font-style: $style;
    font-weight: $weight;
    font-family: '#{$name}';
    src: base-url('#{$font}.woff2') format('woff2'),
    base-url('#{$font}.woff') format('woff');
  }
}

@mixin table-collapsable($bp-1: sm, $bp-1-flex-basis:25%, $bp-2:lg, $bp-2-flex-basis: 40%) {

  @media (max-width: get-maxwidth($bp-2)) {
    width:100%;
    tr {
      display: flex;
      flex-direction: column;
    }

    thead tr {
      @include sr-only();
    }

    td {
      display: flex;
      &:before {
        content: attr(data-column);
        flex-basis:$bp-2-flex-basis;
        display: inline-block;
        margin-#{$align_mir}:1rem;
      }
    }

  }

  @media (max-width: get-maxwidth($bp-1)) {
    td {
      &:before {
        white-space: pre-wrap;
        flex-basis: $bp-1-flex-basis;
      }
    }
  }
}

@mixin langProp($prop, $rtlValue, $ltrValue){
  @if($dir == 'rtl'){
    #{$prop}:#{$rtlValue}
  } @else {
    #{$prop}:#{$ltrValue}
  }
}