//breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

//colors
$black: #03294b;
$dark: #0C3151;
$white: #ffffff;
$light: #f7f7f7;
$primary: #5067FD;

$container-padding: calc((100vw - var(--padding-factor)) /2);
