$dir: ltr !default;
$dir-mir: rtl !default;
$start: left !default;
$end: right !default;
$transform: 1 !default;

@import "variables";
@import "mixins";

html {
  scroll-behavior: smooth;
  overflow-anchor:none;
}

body {
  direction: #{$dir};
  opacity:1;
  overflow-anchor:none;

  --padding-factor: #{get-maxwidth(sm)};

  @each $breakpoint, $size in $grid-breakpoints {
    @if ($size != 0) {
      @media(min-width: $size) {
        --padding-factor: #{get-container($breakpoint)};
      }
    }
  }

}

input, select, button {
  -webkit-appearance: none;
}

.ratio {
  overflow: hidden;
  > img {
    @include ratioBoxImage;
  }
}

.animation-underline {
  --line-height: 1px;
  --bottom-space: 0;
  --line-color: #{$primary};
  position: relative;

  &:after {
    width: 0;
    height: var(--line-height);
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: var(--bottom-space);
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease, opacity .3s ease, background-color .3s ease;
    will-change: width, opacity, background-color;
    background-color: var(--line-color);
  }

  &:hover,
  &:focus {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }

  &.active {
    &:after {
      width: 50%;
      opacity: 1;
    }
    &:hover, &:focus {
      &:after {
        width: 100%;
      }
    }
  }

  &.animation-reverse {
    &:after {
      width:100%;
      opacity:1;
    }
    &:hover, &:focus, &:active {
      &:after {
        width:0%;
      }
    }
  }

}

a:hover, a:focus {
  .animation-underline {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

.arrow {
  display: inline-block;
  transition: transform .3s ease, top .3s ease;

  &:after {
    content: '';
    display: inline-block;
    width: rem(10);
    height: rem(10);
    border-top: rem(2) solid #{$dark};
    border-right: rem(2) solid #{$dark};
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    pointer-events: none;
    transition: border-color .3s ease, margin .3s ease;
  }

}

#stages {
  counter-reset: stage-counter;
  border-bottom: 1px solid #eeeceb;
  overflow-x:auto;
  text-align: center;

  @include scrollbars(4px, $dark, 'transparent', 2px, 'horizontal');

  ul {
    list-style: none;
    padding: rem(20) 0;
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: rem(50);
    margin:0 rem(50);

    li {
      counter-increment: stage-counter;
    }

    a {
      text-decoration: none;
      color:$black;
      font-weight:300;
      transition:color .3s ease;
      white-space: nowrap;

      &:before {
        content: counter(stage-counter);
        display: inline-block;
        border-radius:100%;
        border:1px solid;
        width:rem(26);
        height:rem(26);
        font-size:rem(15);
        margin-inline-end: .5rem;
        line-height: 1.5rem;
        text-align: center;
        vertical-align: middle;
      }

      &:hover, &:focus, &.active {
        color: $primary;
        //outline: none;
      }
      &.active {
        &:before {
          background-color:$primary;
          color:$white;
          border-color:$primary;
        }
      }
    }

  }
}

main {
  padding: rem(30) 0;

  .heading {
    display: flex;
    flex-direction: column;
    align-items:flex-start;

    @media (min-width:get-minwidth(lg)){
    	align-items:center;
    }

    h1 {
      font-size:rem(30);
      font-weight:600;
      line-height: rem(38);
      margin-bottom:rem(21);
      @media (min-width:get-minwidth(lg)){
        line-height: rem(44);
      }
    }

    p.lead {
      font-size: rem(22);
    }
  }
}


/* MAIN PAGE - STAGE 1 */

#packages {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  @media (min-width:get-minwidth(lg)){
    grid-gap: 2rem;
  }

  @media (min-width:get-minwidth(xl)){
    grid-template-columns: repeat(3, 1fr);
  }

  article {

    overflow:hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.09);

    @media (min-width:get-minwidth(lg)){
      border-radius: 10px;
    }

    &:hover, &:focus-within {
      a.ratio img {
        min-width:105%;
        min-height:105%;
      }
      @media (min-width:get-minwidth(lg)){
      	.info h2 a:after {
            width: 100%;
            opacity: 1;
        }
      }
    }

    a.ratio {
      display: block;
      --bs-aspect-ratio: calc(145 / 156 * 100%);
      @media (min-width:get-minwidth(md)){
        --bs-aspect-ratio: calc(240 / 386 * 100%);
      }
      @media (min-width:get-minwidth(lg)){
        --bs-aspect-ratio: calc(280 / 386 * 100%);

        &:after {
          @include overlay(linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%));
        }
      }

      img {
        transition: min-width .3s ease, min-height .3s ease;
        will-change: min-width, min-height;
      }

    }

    .info {
      padding: rem(10);
      font-size: rem(14);
      line-height: rem(18);

      @media (min-width:get-minwidth(lg)){
        position: absolute;
        bottom:0;
        color:#{$white};
        font-size: rem(16);
        max-width:90%;
        padding:rem(25);
      }

      .remark {
        font-size: rem(14);
        @media (min-width:get-minwidth(lg)){
          font-size: rem(14);
        }
      }

      h2 {
        font-weight: normal;
        font-size:rem(18);
        line-height: rem(26);
        @media (min-width:get-minwidth(lg)){
          font-size: rem(26);
          font-weight:500;
          line-height:rem(30);
        }
        a {
          color: inherit;
          text-decoration: none;
          --line-color: #{$white};
          @media (max-width:get-maxwidth(lg)) {
            --line-color: #{$primary};
            &:hover, &:focus {
              color:$primary;
              outline: none;
            }
          }
        }
      }

    }

  }
}

#date-select {
  display: inline-block;
  position: relative;
  align-self:center;

  @media (min-width:get-minwidth(lg)){
  	margin-top:1rem;
  }

  label {
    position: absolute;
    #{$start}: rem(10);
    line-height:rem(26);
    pointer-events: none;
    img {
      width: rem(17);
      height: rem(17);
      margin-#{$end}:rem(8);
    }
  }


  input {
    -webkit-appearance: none;
    border:1px solid #{$dark};
    border-radius:rem(13);
    padding-#{$start}:calc(17px + 8px);
    padding-#{$end}: rem(36);
    outline: none;
    text-align:#{$end};
    font-size:rem(16);
    font-weight:600;
    height:rem(26);
    line-height:rem(26);
    transition: color .3s ease;
    cursor: pointer;

    &:focus, &:hover {
      color: #{$primary};
      + .arrow:after {
        border-color:#{$primary};
      }
    }

    + .arrow {
      pointer-events: none;
      position: absolute;
      #{$end}:rem(15);
      top:-1px;
    }

    &:focus + .arrow {
      top: 3px;
      transform: rotate(180deg);
    }

  }
}

#available-dates {
  list-style: none;
  margin:rem(66) 0;
  padding:0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: rem(65);
  @media (min-width:get-minwidth(lg)){
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: rem(50);
    grid-column-gap: rem(32);
  }

  li {
    position: relative;

    button {
      width:100%;
      border:0;
      background-color:#{$light};
      display: flex;
      align-items: center;
      justify-content: center;
      padding:rem(12);
      padding-bottom:rem(8);
      border-radius: 5px;
      transition: background-color .3s ease, box-shadow .3s ease;
      will-change: background-color, box-shadow;
      color: #{$dark};

      &[disabled] time {
        opacity:.5;
      }

      @media (min-width:get-minwidth(lg)){
        padding:rem(22);
        padding-bottom:rem(18);
      }

      &:not([disabled]) {
        &:hover, &:focus, &.active {
          box-shadow: 0 5px 8px 0 rgba(0,0,0,0.09);
          background-color:#{$white};
          .hour {
            color: #{$primary};
          }
        }
      }

      time {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:rem(18);
        font-weight:300;
        line-height: rem(24);

        .hour {
          font-size:rem(28);
          font-weight:500;
          line-height: rem(40);
          transition: color .3s ease;
        }

      }

    }

    .date-remark {
      position: absolute;
      bottom:-1.7rem;
      width:100%;
      text-align: center;
      font-size:rem(14);

      + button {
        border-bottom: 1px solid #{$dark};
        border-radius: 5px 5px 0 0;
      }
    }

  }
}

#load-more {
  width: 100%;
  border-bottom: 1px solid #{$dark};
  position: absolute;
  #{$end}:0;

  button {
    border-radius: rem(15.5);
    background-color:#{$dark};
    color:#{$white};
    font-size:rem(16);
    padding: rem(4) rem(16);
    padding-#{$end}:rem(35);
    border:0;
    cursor: pointer;
    transition: background-color .3s ease;
    @include absolute-center;

    &:hover, &:focus {
      background-color: #{$primary};
    }

    .arrow {
      position: absolute;
      top:rem(2);
      #{$end}:rem(16);
      &:after{
        width: rem(8);
        height: rem(8);
        border-color:#{$white};
      }
    }

  }

}

#nav-buttons {
  padding-top:rem(68);
  display: flex;
  justify-content: center;

  a, button {
    font-size:rem(16);
    border-width: rem(2);
    padding: rem(8) rem(25);
    min-width:rem(125);
    + a, + button {
      margin-#{$start}: rem(35);
    }
  }

  .arrow {

    position: relative;
    transition: none;

    &:after {
      border-color: inherit;
    }

    &:before {
      content:'';
      position: absolute;
      left:calc(50% - 1px);
      height:1rem;
      width:0px;
      border-left: rem(2) solid;
    }

    &.arrow-start {
      transform: rotate(calc(#{$transform} * 90deg));
      margin-#{$end}: 1rem;
    }
    &.arrow-end {
      transform: rotate(calc(#{$transform} * -1 * 90deg));
      margin-#{$start}: 1rem;
    }
  }

  @media (min-width:get-minwidth(lg)){
    justify-content: flex-end;
  }
}

.tooltip-icon {
  width:20px;
  height:20px;
  display: inline-block;
  vertical-align: sub;
  margin-#{$start}:.3rem;

  img {
    width:100%;
    height:100%;
    display: block;
    transform: rotate(180deg);
    transition: transform .3s ease;
  }

  &:hover, &:focus, &[aria-describedby*='tooltip'] {
    img {
      transform: rotate(0);
    }
  }

}

label.select {
  position: relative;
  select {
    background: transparent;
    border: 0;
    width: 100%;
    padding-#{$end}: rem(32);

    + .arrow {
      position: absolute;
      pointer-events: none;
      #{$end}: 0;
      top: -3px;

      &:after {
        width: rem(8);
        height: rem(8);
      }

    }
  }
}

.table {
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.09);
  border-radius:rem(15);
  position: relative;

  &.tfoot {
    margin-bottom: 4rem;
  }

  + .table {
    margin-top:rem(45);
  }

  td {
    font-size:rem(16);
    border:none;
    padding: rem(10);
    &:not(:first-child) {
      width:20%;
    }
    @media (min-width:get-minwidth(md)){
      font-size:rem(18);
      padding: rem(12) rem(27);
    }
    @media (min-width:get-minwidth(xxl)){
      &:first-child {
        padding-#{$start}: rem(100);
      }
      &:last-child {
        padding-#{$end}: rem(100);
      }
    }
  }
  th {
    font-size:rem(18);
    font-weight:400;
    border:none;
    padding: rem(31) rem(10) rem(12);
    @media (min-width:get-minwidth(md)){
      font-size:rem(22);
      padding: rem(27) rem(27) rem(12);
    }
    @media (min-width:get-minwidth(xxl)){
      &:first-child {
        padding-#{$start}: rem(100);
      }
      &:last-child {
        padding-#{$end}: rem(100);
      }
    }
  }

  tfoot {
    position: absolute;
    #{$end}:0;
    bottom:-4.5rem;
    width:100%;
    tr {
      display: flex;
    }
    td {
      &:first-child {
        flex-grow:1;
      }
      font-weight:600;
      font-size:rem(18);
      background-color:transparent;
      position: relative;

      @media (min-width:get-minwidth(md)){
      	font-size:rem(22);
      }

      span {
        display: inline-block;
        position: absolute;
        #{$end}: 100%;
      }

    }
  }
}

#package-remark {
  font-size:rem(14);
  opacity:.8;
  display: inline-block;
  padding-#{$start}: rem(10);
  @media (min-width:get-minwidth(md)){
    padding-#{$start}: rem(27);
  }
  @media (min-width:get-minwidth(xxl)){
    padding-#{$start}: rem(100);
  }

  + .table {
    margin-top:rem(45);
  }
}

#order-summary {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size:rem(16);

  @media (min-width:get-minwidth(md)){
    font-size:rem(18);
  }

  @media (min-width:get-minwidth(lg)){
    grid-template-columns: repeat(5, 1fr);
  }

  > div {
    padding: rem(31) rem(10) rem(12);
    @media (min-width:get-minwidth(md)){
      padding: rem(27) rem(27) rem(12);
    }
    @media (min-width:get-minwidth(xxl)){
      &:first-child {
        padding-#{$start}: rem(100);
      }
    }
  }

  h2 {
    font-size:rem(18);
    font-weight:400;
    border:none;
    padding-bottom:rem(24);
    display: inline-block;
    margin-#{$end}:1rem;
    @media (min-width:get-minwidth(md)){
      font-size:rem(22);
    }
    @media (min-width:get-minwidth(lg)){
      margin-#{$end}:0;
      display: block;
    }
  }

  .discount-select {

    grid-column: 1 / span 2;
    display: grid;

    @media (min-width:get-minwidth(lg)){
      grid-column: 1 / span 3;
      grid-template-columns: repeat(6, 1fr);

      h2 {
        grid-column: 1 / span 6;
      }

      .select-type {
        grid-column: 1 / span 2;
      }

      .form-floating {
        margin-top:-1.3rem; // vertical align it with other element
        grid-column: 3 / span 3;
      }
    }

  }

  .discount-amount {

  }

  .total-price {
    &, h2 {
      font-weight:600;
    }
    bdo {
      font-size:rem(18);
      @media (min-width:get-minwidth(md)){
      	font-size:rem(22);
      }
    }
  }

}


#info-form {

  > .form-floating, .phone-wrapper {
    margin-bottom:rem(30);
    @media (min-width:get-minwidth(xl)){
      margin-bottom:rem(60);
    }
  }

  @media (min-width:get-minwidth(md)){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: rem(50);
  }

  @media (min-width:get-minwidth(xl)){
    grid-column-gap: rem(100);
    max-width:80%;
  }

  .form-check {
    grid-column: 1 / span 2;
    margin-bottom: rem(20);
  }

  #nav-buttons {
    grid-column: 1 / span 2;
  }

  .phone-wrapper {
    display: flex;
    align-items: flex-end;

    label.select {
      padding: 0.5rem 0;
      border-bottom: 1px solid #b2b2b2;
      display: flex;
      font-size:rem(18);

      select {
        border-#{$end}: 1px solid #b2b2b2;
        opacity:.65;
        color:#{$black};
      }

      .arrow {
        opacity:.65;
        #{$end}: 1rem;
        top: 4px;
      }

    }

    .form-floating {
      flex-grow: 1;
      .form-control, label {
        padding-#{$start}: .8rem;
      }
    }

  }

}

.form-floating {
  > label {
    padding:.5rem 0;
    top:.75rem;
    font-size:rem(18);
    color:#b2b2b2;
    transition: font-size .1s ease-in-out,top .1s ease-in-out;
  }

  >.form-control:focus~label, .form-control:not(:placeholder-shown)~label, .form-select~label {
    top:0;
    opacity:1;
    font-size:rem(13);
    transform:none;
  }

  >.form-control {
    border:none;
    border-bottom:1px solid #b2b2b2;
    border-radius: 0;
    -webkit-appearance: none;
    padding:.5rem 0;
    background-color:transparent;
    &:hover, &:focus {
      outline: none;
      box-shadow: none;
    }
    &:focus {
      border-color: #{$primary};
    }
    &:not(:placeholder-shown):not(:focus) {
      border-color: #{$dark};
    }
    &[required] ~ label {
      &:before {
        content: '*';
        display:inline-block;
        margin-#{$end}:.4rem;
      }
    }
  }

}


.datepicker-picker {
  padding: rem(24);

  span {
    border-radius: rem(100);
    font-weight:500;
    &.disabled {
      font-weight:300;
      color:#b2b2b2;
    }
    &.prev, &.next {
      pointer-events:none;
      visibility: hidden;
    }
    &.today:not(.selected):not(.disabled) {
      border:1px solid #{$primary};
      background-color: transparent;
      color:#{$primary};
    }
  }

  .datepicker-header .datepicker-controls .btn {
    font-weight:500;
    &.prev-btn, &.next-btn {
      &:after {
        content: '';
        display: inline-block;
        width: rem(10);
        height: rem(10);
        border-top: rem(2) solid #{$dark};
        border-right: rem(2) solid #{$dark};
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        pointer-events: none;
        transition: border-color .3s ease, margin .3s ease;
      }
    }
    &.prev-btn {
      transform: rotate(calc(#{$transform} * 90deg));
    }
    &.next-btn {
      transform: rotate(calc(#{$transform} * -1 * 90deg));
    }
  }

  .datepicker-view {
    .dow {
      font-weight:400;
      height:2rem;
    }
    .datepicker-cell.selected {
        background-color: transparent;
        color: #{$primary};
    }
  }
}

table#summary {

  &, ~ #package-remark, ~#nav-buttons {
    max-width: rem(800);
    margin: auto;
  }

  ~ #package-remark {
    margin-top:rem(25);
    display: block;
  }

  td {
    font-size:rem(18);
    width:50%;
    @media (min-width:get-minwidth(md)){
      font-size:rem(22);
    }
    &[scope='row'] {
      font-size:rem(16);
      @media (min-width:get-minwidth(md)){
        font-size:rem(18);
      }
    }
  }

  tr.heading {
    display: table-row;
    --bs-table-accent-bg: #{$white};
    td {
      padding-top: rem(40);
      padding-bottom: rem(60);
    }
  }


}